---
layout: default
title: Home
description: Hi, I'm Thomas Breydo. I'm an NYC-based developer, student, and CS enthusiast.
featured_image: /assets/images/fullsize/home-feat.jpg
---

<section class="blog single">

    <div class="wrap">

        {% for post in paginator.posts %}

        <article class="blog-post">

            <div class="blog-post__header">
                <h2 class="blog-post__title"><a
                        href="{{ post.url | relative_url }}">{{ post.title
                    }}</a></h2>
                <p class="blog-post__subtitle">{{ post.date |
                    date_to_long_string }}</p>
            </div>

            {% if post.featured_image %}
            <a class="blog-post__image" href="{{ post.url | relative_url }}"
               style="background-image: url({{ post.featured_image | relative_url }});"></a>
            {% endif %}

            <div class="blog-post__content">
                <p>{{ post.excerpt }}</p>
                <p><a class="button" href="{{ post.url | relative_url }}">Read
                    More</a>
            </div>

        </article>

        {% endfor %}

    </div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

    {% if paginator.previous_page %}
    <div class="pagination__prev">
        <a class="button button--large"
           href="{{ paginator.previous_page_path | relative_url }}"><i
                aria-hidden="true"
                class="fa fa-angle-left"></i> <span>Newer Posts</span></a>
    </div>
    {% endif %}
    {% if paginator.next_page %}
    <div class="pagination__next">
        <a class="button button--large"
           href="{{ paginator.next_page_path | relative_url }}"><span>Older Posts</span>
            <i
                    aria-hidden="true" class="fa fa-angle-right"></i></a>
    </div>
    {% endif %}

</section>

{% endif %}